<h2>Let's try this</h2>
<p>
  Su un Browser impostati come filiale e scegli BER<br>
  Con un altro Browser impostati come filiale e scegli DIR<br>
  Cun un terzo Browser impostati come Sede<br>
</p>
<p>
  Dai Browser filiale, clicca <i><b>richiedi approvazione Preventivo</b></i> o <i><b>richiedi approvazione
      Contratto</b></i> per inviare richieste alla Sede<br>
  Dal Browser sede, clicca <i><b>approva</b></i> per dare l'ok alle singole richieste, rimuovendo così la richiesta
  dall'elenco per la sede e inviando una notifica di approvazione alla filiale
</p>
<p>
  Per cancellare tutto e ripartire puoi usare il pulsante <b>CLEAR</b>
</p>
<hr>

<button (click)="onFiliale()">Impersona Utente di Filiale</button>
&nbsp;&nbsp;&nbsp;.
<button (click)="onSede()">Impersona Utente di Sede</button>
<hr>

<h3>Ruolo selezionato: <b>{{role}} ({{cdff}})</b>&nbsp;&nbsp;&nbsp;
  <select *ngIf="role=='Filiale'" [(ngModel)]="cdff">
    <option value="BER">BER</option>
    <option value="DIR">DIR</option>
  </select>`
</h3>

<div>
  <span *ngIf="role=='Filiale'">Approvati</span>
  <span *ngIf="role=='Sede'">Da Approvare</span>
  <ul *ngFor="let f of lista; let i = index;">
    <li>{{f.messaggio}} ({{f.key2}}) - {{f.key1}}<button *ngIf="role=='Sede'" (click)="checkA(f)">approva</button>
    </li>
  </ul>
  <br>
  <ng-container *ngIf="role=='Filiale'">
    <button (click)="checkR(0)">richiedi approvazione Preventivo</button>
    <button (click)="checkR(2)">richiedi approvazione Contratto</button>
  </ng-container>
</div>
<hr>
<button (click)="clear()">CLEAR</button>