<button (click)="onFiliale()">Impersona Utente di Filiale</button>
&nbsp;&nbsp;&nbsp;.
<button (click)="onSede()">Impersona Utente di Sede</button>
<hr>

<h3>Ruolo selezionato: <b>{{role}}</b></h3>

<div>
  <span *ngIf="role=='Filiale'">Approvati</span>
  <span *ngIf="role=='Sede'">Da Approvare</span>
  <ul *ngFor="let f of lista; let i = index;">
    <li>{{f.messaggio}}- {{f.key1}}<button *ngIf="role=='Sede'" (click)="checkA(f.key1)">approva</button></li>
  </ul>
  <br>
  <button *ngIf="role=='Filiale'" (click)="checkR()">richiedi approvazione</button>
</div>
<hr>
<button (click)="clear()">CLEAR</button>